<template>
    <div class="container  p-3">
        <h4>Hero Statistics</h4>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th v-on:click="sortHeroes('name')" class="cursor-pointer">Hero</th>
              <th v-on:click="sortHeroes('picks')" class="cursor-pointer">Picks</th>
              <th>Wins</th>
              <th v-on:click="sortHeroes('winrate')" class="cursor-pointer">Winrate</th>
            </tr>
          </thead>
          <template v-for="(hero, index) in sortedArray">
            <tr :key="index">
              <td>{{hero.name}}</td>
              <td>{{hero.games}}</td>
              <td>{{hero.wins}}</td>
              <td>{{(hero.winrate*100).toFixed(0)}}%</td>
            </tr>
          </template>
        </table>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'App',
  data () {
    return {
      hero_statistics: [],

      sortBy: 'winrate',
      sortDesc: false
    }
  },
  methods: {
    loadHeroStatistics () {
      console.log('loading hero stats')
      const path = this.$apihost + '/aramranked/v1/get_hero_statistics'
      axios
        .get(path)
        .then(res => {
          this.hero_statistics = res.data
          this.sortHeroes(this.sortBy)
        })
    },
    sortHeroes (by) {
      if (by === this.sortBy) {
        this.sortDesc = !this.sortDesc
      } else {
        this.sortBy = by
        this.sortDesc = true
      }
      this.$forceUpdate()
    }
  },
  created () {
    this.loadHeroStatistics()
  },
  computed: {
    sortedArray: function () {
      var result = [...this.hero_statistics]
      var desc = this.sortDesc
      var sortFunc = function (a, b) {
        return a < b
      }
      if (this.sortBy === 'winrate') {
        sortFunc = function (a, b) {
          return a.winrate - b.winrate
        }
      } else if (this.sortBy === 'picks') {
        sortFunc = function (a, b) {
          return a.games - b.games
        }
      } else if (this.sortBy === 'name') {
        sortFunc = function (a, b) {
          if (a.name < b.name) {
            return 1
          } else {
            return -1
          }
        }
      }

      result.sort(function (a, b) {
        var res = sortFunc(a, b)
        if (desc === true) {
          if (res < 0) {
            res = 1
          } else if (res > 0) {
            res = -1
          }
        }
        return res
      })
      return result
    }
  }
}
</script>

<style>
.cursor-pointer {
  cursor: pointer;
}
</style>
