<template>
  <div class="container">
    <div class="container p-3 my-3 border">
        <h1>{{username}}</h1>
        <h3>Rank: {{rank}}</h3>
    </div>
    <div class="container p-3 my-3 border">
        Total Matches Played: {{total_matches}}
    </div>

    <h4>Match history</h4>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Hero</th>
          <th scope="col">New Rank</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(match, index) in matches">
            <tr @click="displayDetails(match.match_id)" :key="index*2" :class="{'table-success': match.winner, 'table-danger': !match.winner, 'cursor-pointer': true}">
                <td>{{ match.hero }}</td>
                <td>{{ match.new_rank }} ({{getRankChange( match.new_rank, match.old_rank)}})</td>
                <td>{{getDateString(match.timestamp)}}</td>
            </tr>
            <tr v-if="display_details == match.match_id" :key="index*2+1">
                <td colspan="3">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Hero</th>
                                <th scope="col">Rank changes</th>
                            </tr>
                        </thead>
                        <tr v-for="(player, index2) in loaded_matches[match.match_id]" :key="index2" :class="{'table-success': player.winner, 'table-danger': !player.winner}">
                            <td><a v-on:click="playerClicked(player.id)" role="button">{{player.name}}</a></td>
                            <td>{{player.hero}}</td>
                            <td>{{ player.new_rank }} ({{getRankChange( player.new_rank, player.old_rank )}})</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </template>
      </tbody>
    </table>
    <paginate
        v-model="page"
        :page-count=total_pages
        :page-range="1"
        :margin-pages="1"
        :click-handler="clickCallback"
        :prev-text="'Prev'"
        :next-text="'Next'"
        :container-class="'pagination justify-content-center'"
        :page-class="'page-item'"
        :pageLinkClass="'page-link'"
        :prevClass="'page-item'"
        :prevLinkClass="'page-link'"
        :nextClass="'page-item'"
        :nextLinkClass="'page-link'"
        >
    </paginate>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PlayerProfile',
  data () {
    return {
      username: '',
      rank: 0,
      matches: [],
      total_matches: 0,

      display_details: -1,
      loaded_matches: {},

      current_page: 1,
      total_pages: 1,
      page_size: 10,
      page: 1
    }
  },
  watch: {
    $route (to, from) {
      this.getMessage()
      this.current_page = 1
      this.display_details = -1
    }
  },
  methods: {
    getMessage () {
      const path = this.$apihost + '/aramranked/v1/get_profile'
      axios
        .get(path, { params: { id: this.$route.params.id, page: this.page - 1, page_size: this.page_size } })
        .then(res => {
          console.log(res.data)
          this.username = res.data.name
          this.rank = res.data.rank
          this.matches = res.data.matches
          this.total_matches = res.data.total_matches

          this.total_pages = Math.ceil(this.total_matches / this.page_size)
        })
        .catch(error => {
          // eslint-выключение следующей строки
          console.error(error)
        })
    },
    clickCallback (pageNum) {
      this.page = pageNum
      this.display_details = -1
      this.getMessage()
    },
    displayDetails (id) {
      const path = this.$apihost + '/aramranked/v1/get_match_details'
      if (this.display_details === id) {
        this.display_details = -1
      } else {
        this.display_details = id
      }

      if (!(id in this.loaded_matches)) {
        axios
          .get(path, { params: { id: id } })
          .then(res => {
            this.loaded_matches[id] = res.data
            this.$forceUpdate()
          })
      }
    },
    getRankChange (newRank, oldRank) {
      var rankChange = newRank - oldRank
      if (rankChange >= 0) {
        return '+' + rankChange
      } else {
        return '' + rankChange
      }
    },
    getDateString (timestamp) {
      var date = new Date((timestamp - 116444736e9) / 1e4)
      var locale = window.navigator.userLanguage || window.navigator.language

      return date.toLocaleString(locale, {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
      })
    },
    playerClicked (playerId) {
      this.$router.push(`/player/${playerId}`)
    }
  },
  created () {
    this.getMessage()
  }
}
</script>

<style>
.cursor-pointer {
  cursor: pointer;
}
</style>
