<template>
<nav class="form-inline my-2 my-lg-0 ">
    <form class="form-inline" @submit.prevent="searchPlayer()">
        <div class="input-group">
            <autocomplete :search="searchPlayer" :debounceTime="100" :get-result-value="getResultValue" :autoSelect="true" @submit="handleSubmit"></autocomplete>
        </div>
    </form>
</nav>
</template>

<script>
import axios from 'axios'
import Autocomplete from '@trevoreyre/autocomplete-vue'

export default {
  name: 'PlayerSearch',
  data () {
    return {
      userSearchField: ''
    }
  },
  components: {
    Autocomplete
  },
  methods: {
    searchPlayer (event) {
      const path = this.$apihost + '/aramranked/v1/get_player'
      if (event === undefined || event.length < 2) {
        return []
      }
      return new Promise(resolve => {
        axios
          .get(path, { params: { name: event } })
          .then(res => {
            resolve(res.data)
          })
          .catch(error => {
            console.log(error)
            resolve([])
          })
      })
    },
    getResultValue (result) {
      if (typeof result !== 'undefined') {
        return result.name
      }
    },
    handleSubmit (result) {
      if (typeof result !== 'undefined') {
        this.$router.push({path: `/player/${result.id}`})
      }
    }
  }
}
</script>

<style>
.autocomplete-input {
  border: 1px solid #eee;
  border-radius: 8px;
  width: 100%;
  padding: 6px 6px 6px 48px;
  box-sizing: border-box;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  flex: 1;
  background-color: #eee;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: 12px
}

.autocomplete-input:focus,
.autocomplete-input[aria-expanded=true] {
  border-color: rgba(0, 0, 0, .12);
  background-color: #fff;
  outline: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .16)
}

[data-position=below] .autocomplete-input[aria-expanded=true] {
  border-bottom-color: transparent;
  border-radius: 8px 8px 0 0
}

[data-position=above] .autocomplete-input[aria-expanded=true] {
  border-top-color: transparent;
  border-radius: 0 0 8px 8px;
  z-index: 2
}

.autocomplete[data-loading=true]:after {
  content: "";
  border: 3px solid rgba(0, 0, 0, .12);
  border-right-color: rgba(0, 0, 0, .48);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  animation: rotate 1s linear infinite
}

.autocomplete-result-list {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, .12);
  padding: 0;
  box-sizing: border-box;
  max-height: 296px;
  overflow-y: auto;
  background: #fff;
  list-style: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .16)
}

[data-position=below] .autocomplete-result-list {
  margin-top: -1px;
  border-top-color: transparent;
  border-radius: 0 0 8px 8px;
  padding-bottom: 8px
}

[data-position=above] .autocomplete-result-list {
  margin-bottom: -1px;
  border-bottom-color: transparent;
  border-radius: 8px 8px 0 0;
  padding-top: 8px
}

.autocomplete-result {
  cursor: default;
  padding: 12px 12px 12px 48px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: 12px
}

.autocomplete-result:hover,
.autocomplete-result[aria-selected=true] {
  background-color: rgba(0, 0, 0, .06)
}

@keyframes rotate {
  0% {
      transform: translateY(-50%) rotate(0deg)
  }
  to {
      transform: translateY(-50%) rotate(359deg)
  }
}
</style>
