<template>
  <div id="app">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link cursor-pointer" v-on:click="homeClicked()">Home<span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <PlayerSearch/>
    </nav>

    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      userSearchField: ''
    }
  },
  methods: {
    homeClicked () {
      this.$router.push({path: '/'})
    }
  }
}
</script>

<style>
#app {
  margin-top: 0px
}
.cursor-pointer {
  cursor: pointer;
}
</style>
